<h1>Productos en tiempo real</h1>

<form id="productForm">
  <input type="text" name="title" placeholder="Título" required />
  <input type="text" name="description" placeholder="Descripción" required />
  <input type="text" name="code" placeholder="Código" required />
  <input type="number" name="price" placeholder="Precio" required />
  <input type="number" name="stock" placeholder="Stock" required />
  <input type="text" name="category" placeholder="Categoria" required />
  
  <button type="submit">Crear Producto</button>
</form>

<hr>

<h2>Lista de productos</h2>

<ul id="productList"></ul>

<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();

  const productList = document.getElementById("productList");
  const productForm = document.getElementById("productForm");

  
  socket.on("updateProducts", products => {
    productList.innerHTML = "";
    products.forEach(p => {
      const li = document.createElement("li");
      li.innerHTML = `
        ${p.title} - $${p.price}
        <button onclick="deleteProduct(${p.id})">borrar</button>
      `;
      productList.appendChild(li);
    });
  });

  
  productForm.addEventListener("submit", e => {
    e.preventDefault();

    const formData = new FormData(productForm);
    const product = Object.fromEntries(formData.entries());

   
    product.status = true;
    product.thumbnails = [];

    socket.emit("addProductWS", product);

    productForm.reset();
  });

  
  function deleteProduct(id) {
    socket.emit("deleteProductWS", id);
  }
</script>
